@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@100;200;300;400;500;600;700&display=swap');


body{
    margin: 0;
    min-height: 100vh;
    background-color: cornflowerblue;
}
nav{
    display: flex;
    background-color: #fff;
    padding: 0 170px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    height: 97px;
}
.nav-span1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-span1 h2{
    margin-left: 10px;
    font-weight: 600;
    color: #222222;
}
.nav-span1 h2:hover, .footer-span1 h2:hover{
    color: #DE2E54;
    cursor: pointer;
}
.nav-span1 h2:active, nav a:active{
    color: rgba(222, 46, 84, 0.5);
}
nav a{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #222222;
}
a:hover{
    color: #DE2E54;
}
.nav-span2{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
nav button{
    width: 189px;
    height: 47px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    background-color: #DE2E54;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
nav button:hover, section button:hover{
    border: 2px solid #DE2E54;
    background-color: #fff;
    color: #DE2E54;
    cursor: pointer;
}
nav button:active, section button:active{
    background-color: rgba(222, 46, 84, 0.5);
    color: #fff;
    border: none;
}
.main-bottom button:active, main button:active{
  opacity: 0.6;
  border: none;
}


main{
    width: 100%;
    height: 533px;
    background-color: #0EB4C1;
    display: flex;
}
.main-span1{
    margin-left: 170px;
    margin-top: 120px;
}
main h1{
    width: 500px;
    height: 86px;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    color: #fff;
    font-style: normal;
}
main p{
    width: 440px;
    height: 108px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
}
main button{
    width: 189px;
    height: 47px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    background-color: #DE2E54;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
main button:hover{
    background: rgba(222, 46, 84, 0.8);
}
main img{
    position: absolute;
    width: 423px;
    height: 504px;
    left: 847px;
    top: 127px;
}



section{
    width: 100%;
    height: 1486px;
    background: #FFFFFF;
    position: relative;
}
section h1{
    position: absolute;
    font-weight: 700;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
    font-style: normal;
    color: #222222;
    top: 100px;
    left: 690px;
}
.main-section1{
    position: absolute;
    display: flex;
    align-items: center;
    top: 219px;
    left: 288px;
}
section img{
    width: 200px;
    height: 200px;
}
section span{
    margin-left: 64px;
}
section h2{
    color: #222222;
    font-family: 'Open Sans Condensed', sans-serif;
}
section p{
    width: 600px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #444444;
}


.main-section2{
    position: absolute;
    display: flex;
    align-items: center;
    top: 499px;
    left: 288px;
}

.main-section3{
    position: absolute;
    display: flex;
    align-items: center;
    top: 779px;
    left: 288px;
}

.main-section4{
    position: absolute;
    display: flex;
    align-items: center;
    top: 1059px;
    left: 288px;
}

section button{
    position: absolute;
    top: 1330px;
    left: 680px;
    width: 189px;
    height: 47px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    border: none;
    outline: none;
    background-color: #DE2E54;
    font-family: 'Open Sans', sans-serif;
}


.main-bottom{
    width: 100%;
    height: 253px;
    background-color: #0EB4C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-bottom h1{
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

.main-bottom button{
    width: 196px;
    height: 43px;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 20px;
    background-color: #0EB4C1;
    border: solid #fff 2px;
    border-radius: 8px;
    font-weight: 600;
    font-style: normal;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.main-bottom button:hover{
    background-color: #DE2E54;
    cursor: pointer;
}
.main-bottom span{
    margin-top: 32px;
}


footer{
    width: 100%;
    height: 98px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.footer-span1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-span1 h2{
    margin-left: 10px;
    font-weight: 600;
    color: #fff;
}
footer a{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
}
.footer-span1 h2:active, footer a:active{
    opacity: 0.5;
    color: #fff;
}
.footer-span2{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

  